@model CFApp.Data.ViewModelEntity

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>TestEntity</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            <!-- Html.ValidationMessageFor(model => model.Name) -->
        </div>
           <div class="editor-label">
            <div style="float: left">
                @Html.CheckBoxFor(model => model.control)
            </div>
            @Html.LabelFor(model => model.control)
        </div>
         <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}